.main {
  display: flex;
  gap: 3px;
  width: stretch;
  padding: 10px 20px;
  flex-direction: column;
  gap: 1px;
}

.topContainer {
  display: flex;
  gap: 1px;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
  margin: 5px;
}

.locationContainer {
  display: flex;
  gap: 5px;
}

.locationName {
  font-family: var(--font-display);
  font-weight: bold;
  color: var(--choco-dark);
  font-size: 14px;
  line-height: 1.2;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 2px;
  font-size: 10px;
 pfont-weight: bold;
  font-family: var(--font-display);
  color: var(--choco-medium);
  flex-flow: row wrap;
  row-gap: 10px;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  flex-flow: row wrap;
  row-gap: 10px;
}

.starIcon {
  width: 14px;
  height: 14px;
  color: var(--accent);
  fill: var(--accent);
  animation: pulse 2s ease-in-out infinite;
}