.route_grade_selector {
    height: 58px;
    border-radius: 18px;
    justify-items: center;
    width: 100%;
    padding-left: 30px;
    font-size: var(--text-xl);
}

option:checked {
    background-color: #ffb5c5;
    color: #ffffff;
    border-radius: 11px;
    padding: 7px;
}